<footer>
  <div class="f-info">

    <!-- Social media -->
    <div class="f-info-socials">
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>

    <!-- Platform branding -->
    <div class="f-info-brand">&copy; KindLoop Community Platform</div>

    <!-- Useful links -->
    <div class="f-info-links">
      <p><a href="/about">About</a></p>
      <p><a href="/impact">Our Impact</a></p>
      <p><a href="/privacy">Privacy</a></p>
      <p><a href="/terms">Terms</a></p>
    </div>

  </div>
</footer>
