<nav class="navbar">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand" href="/items">
      <i class="fa-solid fa-infinity"></i>KindLoop
    </a>

    <!-- Hamburger button for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible navbar content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Left side nav links -->
      <div class="navbar-nav">
        <a href="/location"> My Location </a>
        <a class="nav-link" href="/items">Browse Items</a>
        <a class="nav-link" href="/items/new">Add Item</a>
        <a class="nav-link" href="/quests">EchoQuests</a>
        <a class="nav-link" href="/map">EchoMap</a>
      </div>

      <!-- Center search bar -->
      <!-- <div class="ms-auto me-3">
        <form class="d-flex" role="search" action="/items" method="GET">
          <input class="form-control me-2 search-input" type="search" placeholder="Search items..." name="q">
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div> -->

      <!-- Right side auth links -->
      <div class="navbar-nav">
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <a class="nav-link" href="/profile"><b>Profile</b></a>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
      </div>
    </div>
  </div>
</nav>
